body {
  background-image:url(./images/background.png);
}
.blocos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.border {
  display: flex;
  border: solid 1px rgb(110, 106, 106);
  border-radius: 9px;
}
.center {
  display: flex;
  flex-direction:row;
  justify-content:center;
}
#container {
  width:145px;
  height:120px;
  display:flex;
  flex-direction:column;
  margin-bottom:9px;
  align-items:center;
}
.espassos {
  display: flex;
  margin: 1px;
}
.planetas {
  display:flex;
  width:80px;
  justify-content:center;
  flex-direction:row;
}
.fonte {
  display:flex;
  flex-direction:row;
  justify-content:center;
  color: antiquewhite;
  font-family: 'Gi Calibri';
}
